@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,500|Inter:400,700");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/645382edb5d68cccbbf5e0de.645382ef5e1791f6ddb84fa8.645427c988ec2f125fc2cb82.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
/*mobile*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Inter:400");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/645382edb5d68cccbbf5e0de.645382ef5e1791f6ddb84fa8.645427c988ec2f125fc2cb82.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
/* Masquer la version mobile par défaut sur les écrans de bureau */
@media (min-width: 768px) {
    #mobile-version {
      display: none;
    }
  }
  
  /* Masquer la version de bureau par défaut sur les écrans mobiles */
  @media (max-width: 767px) {
    #desktop-version {
      display: none;
    }
  }
  